@import "https://fonts.googleapis.com/css?family=Orbitron";
/*

	Glitchy Text from https://css-tricks.com/glitch-effect-text-images-svg/

  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
html, body {
  background-color: #1a1a1a ;
  text-align: center;
  padding: 10%;
}

.content {
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: rgba(57, 220, 64, 0.9);
  position: relative;
}
@keyframes glitch-anim-1 {
  0% {
    clip: rect(88px, 1084px, 84px, 0);
  }
  5.88235% {
    clip: rect(79px, 1084px, 20px, 0);
  }
  11.76471% {
    clip: rect(37px, 1084px, 7px, 0);
  }
  17.64706% {
    clip: rect(93px, 1084px, 84px, 0);
  }
  23.52941% {
    clip: rect(72px, 1084px, 3px, 0);
  }
  29.41176% {
    clip: rect(55px, 1084px, 53px, 0);
  }
  35.29412% {
    clip: rect(18px, 1084px, 43px, 0);
  }
  41.17647% {
    clip: rect(67px, 1084px, 36px, 0);
  }
  47.05882% {
    clip: rect(37px, 1084px, 87px, 0);
  }
  52.94118% {
    clip: rect(86px, 1084px, 84px, 0);
  }
  58.82353% {
    clip: rect(109px, 1084px, 3px, 0);
  }
  64.70588% {
    clip: rect(94px, 1084px, 65px, 0);
  }
  70.58824% {
    clip: rect(89px, 1084px, 61px, 0);
  }
  76.47059% {
    clip: rect(27px, 1084px, 7px, 0);
  }
  82.35294% {
    clip: rect(2px, 1084px, 13px, 0);
  }
  88.23529% {
    clip: rect(18px, 1084px, 16px, 0);
  }
  94.11765% {
    clip: rect(113px, 1084px, 4px, 0);
  }
  100% {
    clip: rect(113px, 1084px, 45px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(51px, 1084px, 42px, 0);
  }
  5.88235% {
    clip: rect(44px, 1084px, 54px, 0);
  }
  11.76471% {
    clip: rect(83px, 1084px, 57px, 0);
  }
  17.64706% {
    clip: rect(83px, 1084px, 32px, 0);
  }
  23.52941% {
    clip: rect(38px, 1084px, 101px, 0);
  }
  29.41176% {
    clip: rect(70px, 1084px, 66px, 0);
  }
  35.29412% {
    clip: rect(94px, 1084px, 25px, 0);
  }
  41.17647% {
    clip: rect(110px, 1084px, 110px, 0);
  }
  47.05882% {
    clip: rect(51px, 1084px, 4px, 0);
  }
  52.94118% {
    clip: rect(97px, 1084px, 57px, 0);
  }
  58.82353% {
    clip: rect(27px, 1084px, 78px, 0);
  }
  64.70588% {
    clip: rect(96px, 1084px, 86px, 0);
  }
  70.58824% {
    clip: rect(67px, 1084px, 107px, 0);
  }
  76.47059% {
    clip: rect(42px, 1084px, 60px, 0);
  }
  82.35294% {
    clip: rect(81px, 1084px, 58px, 0);
  }
  88.23529% {
    clip: rect(40px, 1084px, 68px, 0);
  }
  94.11765% {
    clip: rect(21px, 1084px, 3px, 0);
  }
  100% {
    clip: rect(49px, 1084px, 85px, 0);
  }
}
.content:before, .content:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  clip: rect(0, 0, 0, 0);
}
.content:after {
  left: 2px;
  text-shadow: -1px 0 rgba(255, 0, 0, 0.8);
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.content:before {
  left: -2px;
  text-shadow: 2px 0 rgba(0, 0, 255, 0.8);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
